body{
  padding-bottom: 100px;
  display: flex;
  justify-content: space-around;
  position: relative;
  top: 30px;
  bottom: 20px;
  left: 50px;
  right: 70px;

}

.abs{
  position: absolute;
  display: flex;
  top: 0px;
  right: 0px;
  z-index: 1;

}

.skill{
  display: inline-block;
  padding-left: 20px;
}

.still{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  bottom: 0px;
  left: 0;
  right: 0;
  width: 100%;
  background-color: lightgreen;
}

img:hover{
  opacity: 0;
}

p:hover{
  background-color: black;
}
